@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}
.custom-shadow {
	box-shadow: 0px 10px 20px rgba(162, 162, 162, 0.25);
}

.custom-gradient {
	background: #be229c;
	opacity: 0.9;
	filter: blur(500px);
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.custom-gradient-2 {
	background: linear-gradient(
		142.29deg,
		#ffffff -10.73%,
		rgba(255, 255, 255, 0) 47.74%
	);
}
.custom-gradient-3 {
	background: #7c3eff;
	opacity: 0.9;
	filter: blur(500px);
	transform: matrix(1, 0, 0, -1, 0, 0);
}
